*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    color: #444; 
}

a{
    text-decoration: none;
    color: #444;
    transition: .4s;
}

a:hover{
    color: #dec129;
}

/* FORM */

form {
  width: 450PX;
  margin: 0 auto;   
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label {
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .4em;
}

.form-group input,
.form-group textarea {
    padding: .6em;
    color:#777;
    font-size: .8em;
}

input[type="submit"]{
    background-color: #efefef;
    border: 2px solid transparent;
    padding: .6em 1em;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.1em;
    transition: .4s;
}

input[type="submit"]:hover{
    background-color: transparent;
    color: #dec129;
    border: 2px solid #dec129;
}

.validation-error p{
    color: red;
    font-size: .8em;
    margin-top: .4em;
    border-left: 3px solid red;
    padding-left: .2em;
}

/* Buttons */

.edit-btn, .remove-btn {
    border: #efefef;
    background-color: white;
    border: 2px solid transparent;
    padding: .6em 1em;
    cursor: pointer;
    margin: 0 .5em;
    font-weight: bolder;
    font-size: 1em;
    transition: .4s;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border-radius: 10px;
}

button fa-icon, a fa-icon {
    margin-right: .3em;
}

.edit-btn, .edit-btn path {
    border-color: #007bff;
    color: #007bff;
    transition: .9s;
}

.edit-btn:hover, .edit-btn:hover path {
    background-color: #007bff;
    color: #fff;
}

.remove-btn, .remove-btn path {
    border-color: #dc3545;
    color: #dc3545;
    transition: .9s;
}

.remove-btn:hover, .remove-btn:hover path {
    background-color: #dc3545;
    color: #fff;
}
