<div class="moment" *ngIf="moment">
    <h1>{{moment.title}}</h1>
    <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
    <div class="about-moment">
        <h3>Sobre este momento:</h3>
        <p>{{moment.description}}</p>
    </div>
    <div class="actions">
        <!-- <a routerLink="/moments" class="edit-btn">Voltar</a> -->
        <a routerLink="/moments/edit/{{moment.id}}" class="edit-btn">Editar <fa-icon [icon]="faEdit"></fa-icon></a>
        <button class="remove-btn" (click)="removeHandler(moment.id!)">Excluir <fa-icon [icon]="faTimes"></fa-icon></button>
    </div>
    <!-- Comentários -->
    <div class="comments">
        <h3>Comentários ( {{moment.comments!.length}} ):</h3>
        <div *ngIf="moment.comments!.length > 0; else noComments">
            <!-- <app-comment-form [momentId]="moment.id"></app-comment-form>
            <app-comment *ngFor="let comment of moment.comments" [comment]="comment"></app-comment> -->
            <div class="comment-container" *ngFor="let comment of moment.comments">
                <p class="comment"> {{comment.text}} </p>
                <p class="author"><span>por: </span> {{comment.username}} </p>
            </div>
        </div>
        
        <ng-template #noComments>
            <p>Sem comentários</p>
        </ng-template>
    </div>
    <div class="comment-form">
        <h3>Deixe um comentário</h3>
        <form>
            <div class="form-group">
                <label for="text">Comentário</label>
                <textarea placeholder="Comentário" required></textarea>
            </div>
            <div class="form-group">
                <label for="username">Nome</label>
                <input type="text" placeholder="Seu nome" required>
            </div>
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>
